build --incompatible_strict_action_env
build -c opt

# C/C++
build --cxxopt='-std=c++17'
build --action_env=CC=clang

# Java
build --java_language_version=8
build --tool_java_language_version=9

# Maven publishing
build:maven --stamp
build:maven --define "maven_repo=https://oss.sonatype.org/service/local/staging/deploy/maven2"
build:maven --java_runtime_version=localjdk_8
