name: Release

on:
  workflow_dispatch:

jobs:
  build_release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Keep arch names in sync with replayer and junit download and merge
        os: [ubuntu-latest, macos-10.15, windows-2019]
        include:
          - os: ubuntu-latest
            arch: "linux"
            bazel_args: "--config=toolchain --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-linux"
          - os: macos-10.15
            arch: "macos-x86_64"
            bazel_args: "--config=toolchain --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-darwin --xcode_version_config=//.github:host_xcodes"
          - os: windows-2019
            arch: "windows"
            bazel_args: ""

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Set Build Buddy config
        run: .github/scripts/echoBuildBuddyConfig.sh ${{ secrets.BUILDBUDDY_API_KEY }} >> $GITHUB_ENV
        shell: bash

      - name: Build
        run: |
          bazelisk build ${{env.BUILD_BUDDY_CONFIG}} --java_runtime_version=local_jdk_8 ${{ matrix.bazel_args }} //driver/src/main/java/com/code_intelligence/jazzer/replay:Replayer_deploy.jar //deploy:junit //:jazzer_release
          cp -L $(bazel cquery --output=files //driver/src/main/java/com/code_intelligence/jazzer/replay:Replayer_deploy.jar) replayer.jar
          cp -L $(bazel cquery --output=files //deploy:junit) junit.jar
          cp -L $(bazel cquery --output=files //:jazzer_release) release-${{ matrix.arch }}.tar.gz

      - name: Upload replayer
        uses: actions/upload-artifact@v2
        with:
          name: replayer_${{ matrix.arch }}
          path: replayer.jar

      - name: Upload JUnit integration
        uses: actions/upload-artifact@v2
        with:
          name: junit_${{ matrix.arch }}
          path: junit.jar

      - name: Upload release tar
        uses: actions/upload-artifact@v2
        with:
          name: jazzer_releases
          path: release-${{ matrix.arch}}.tar.gz

  merge_jars:
    runs-on: ubuntu-latest
    needs: build_release

    steps:
      - name: Download macOS x86_64 replayer jar
        uses: actions/download-artifact@v2
        with:
          name: replayer_macos-x86_64
          path: replayer_macos-x86_64

      - name: Download macOS x86_64 JUnit jar
        uses: actions/download-artifact@v2
        with:
          name: junit_macos-x86_64
          path: junit_macos-x86_64

      - name: Download Linux replayer jar
        uses: actions/download-artifact@v2
        with:
          name: replayer_linux
          path: replayer_linux

      - name: Download Linux JUnit jar
        uses: actions/download-artifact@v2
        with:
          name: junit_linux
          path: junit_linux

      - name: Download Windows replayer jar
        uses: actions/download-artifact@v2
        with:
          name: replayer_windows
          path: replayer_windows

      - name: Download Windows JUnit jar
        uses: actions/download-artifact@v2
        with:
          name: junit_windows
          path: junit_windows

      - name: Merge replayer jars
        run: |
          mkdir replayer_merged
          unzip -o replayer_macos-x86_64/replayer.jar -d replayer_merged
          unzip -o replayer_linux/replayer.jar -d replayer_merged
          unzip -o replayer_windows/replayer.jar -d replayer_merged
          jar cvmf merged/META-INF/MANIFEST.MF replayer.jar -C replayer_merged .

      - name: Merge replayer jars
        run: |
          mkdir junit_merged
          unzip -o junit_macos-x86_64/junit.jar -d junit_merged
          unzip -o junit_linux/junit.jar -d junit_merged
          unzip -o junit_windows/junit.jar -d junit_merged
          jar cvmf merged/META-INF/MANIFEST.MF junit.jar -C junit_merged .

      - name: Upload merged replayer jar
        uses: actions/upload-artifact@v2
        with:
          name: replayer
          path: replayer.jar

      - name: Upload merged JUnit jar
        uses: actions/upload-artifact@v2
        with:
          name: junit
          path: junit.jar
